{%extends 'smo/publishing/smo_base.html'%}
<!-- DEVprojects -->
{%load static%}
{%block content%}
<style>
  
</style>


<div class="row pt-3">
  <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">
    CONNECT YOUR CHANNEL
  </div>
</div>

<div class="row" mt-4>
    <div class="col-sm-10 " style="margin: 0 auto;">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <a href="https://www.facebook.com/"  target=”_blank” class="text-decoration-none text-white ">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    <img src="{% static 'assets\images\icon\fbs.webp'%}" alt="" width="100">
                
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    <h4>Facebook</h4><br>
                    
                                </div>
                            </div>
                        </div>
            
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <a href="https://twitter.com" target=”_blank” class="text-decoration-none text-white ">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    <img src="{% static 'assets\images\icon\tw.webp'%}" alt="" width="100">
                
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    
                                    <h4>Twitter</h4>
                
                                </div>
                            </div>
                        </div>
            
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <a href="https://in.pinterest.com"  target=”_blank” class="text-decoration-none text-white ">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    <img src="{% static 'assets\images\icon\pin.png'%}" alt="" width="100">
                
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    
                                    <h3>Pinterest</h3>
                
                                </div>
                            </div>
                        </div>
            
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <a href="https://in.pinterest.com"  target=”_blank” class="text-decoration-none text-white ">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    <img src="{% static 'assets\images\icon\link.png'%}" alt="" width="100">
                
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    
                                    <h3>Linkedin</h3>
                
                                </div>
                            </div>
                        </div>
            
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <a href="https://www.instagram.com"  target=”_blank” class="text-decoration-none text-white ">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    <img src="{% static 'assets\images\icon\insta.webp'%}" alt="" width="100">
                
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    
                                    <h3>Instagram</h3>
                
                                </div>
                            </div>
                        </div>
            
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <a href="https://www.tumblr.com"   target=”_blank” class="text-decoration-none text-white ">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    <img src="{% static 'assets\images\icon\tumb.png'%}" alt="" width="100">
                
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    
                                    <h3>Tumblr</h3>
                
                                </div>
                            </div>
                        </div>
            
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <a href="{% url 'ex_view_work_clint'%}"  target=”_blank” class="text-decoration-none text-white ">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    <img src="{% static 'assets\images\icon\dir.png'%}" alt="" width="100">
                
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    
                                    <h3>Directories</h3>
                
                                </div>
                            </div>
                        </div>
            
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <a href="https://www.youtube.com"  target=”_blank” class="text-decoration-none text-white ">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    <img src="{% static 'assets\images\icon\yt.png'%}" alt="" width="100">
                
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    
                                    <h3>YouTube</h3>
                
                                </div>
                            </div>
                        </div>
            
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
                <div class="card">
                    <a href="https://www.quora.com/"  target=”_blank” class="text-decoration-none text-white ">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    <img src="{% static 'assets\images\icon\qra.png'%}" alt="" width="100">
                
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3 " >
                            <div class="col-12 col-sm-12 col-xl-8 my-auto" style="margin: 0 auto;">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                
                                    
                                    <h3>Quora</h3>
                
                                </div>
                            </div>
                        </div>
            
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->
  {% endblock %}