{%extends 'head/he_base.html'%}
{% load static %}

{% block content %}
<style>
  * {
    color: #6C7293;
  }
</style>



<style>
  .card {
    margin-top: 1%;
  }

  #qwe {
    font-size: 19px;
    font-weight: 500;
  }

  .card .card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.2rem;
  }


  .table1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
  }

  th,
  td {
    text-align: center;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #191c24;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .card-title {
    font-size: 20px;
    font-weight: 900px;
  }
</style>

<div class="row">
  <div class="col-12 grid-margin table1">
    <div class="card p-3">
      <div class="card-body">
        <h4 class="card-title ">Filteration</h4>
        <form action="{% url 'he_delay_flt'%}" method="POST">
          {%csrf_token%}
          <div class="row"> 
            <div class="col-sm-12">
              <label for="">Select Executive</label>
              <select name="exe_name" id="" class="form-control text-light" required>
                <option value=""  >Select Executive</option>
                {% for k in exe %}
                <option value="{{k.id}}" class="text-light">{{k.fullname}}</option>
                {%endfor%}
              </select>
              
            </div>

            
          </div>
          <div class="row mt-3" >
            <div class="col-sm-6">
              <label for="">Start Date</label>
              <input type="date" name="start_date" id="start_date" class="form-control text-light " required>
              
            </div>
        
            <div class="col-sm-6">
              <label for="">End Date</label>
              <input type="date" name="end_date" id="end_date" class="form-control text-light" required>
              
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-sm-12" style="text-align: center;">
              <input type="submit" class="btn btn-outline-primary">
            </div>
          </div>
        </form>
        
    </div>
  </div>
</div>
<div class="row" style="display: none;">
  <div class="col-12 grid-margin table1">
    <div class="card p-3">
      <div class="card-body">
        <h4 class="card-title ">Delay</h4>
        
        
        <div class="table-responsive">
          <table class="table" id="myTable" >
            <thead>
              <tr>
                <!-- <th>
                                  <div class="form-check form-check-muted m-0">
                                      <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input">
                                      </label>
                                  </div>
                              </th> -->
                
                <th> Date </th>
   
                <th> Target </th>
                <th>Balance Target </th>
                <th>Achived Target </th>
                
              </tr>
            </thead>
            {% for i in dl_task %}
            <tbody>
              <tr>
                  
                  <td> {{i.date|date:"d-m-Y"}} </td>
               
                  <td>{{i.target}}</td>
                  <td>{{i.balance}}</td>
                  <td>
                  {% if i.target == i.achived%}

                    <div class="badge badge-outline-warning">{{i.achived}}</div>
                  {% elif i.target > i.achived%}
                    <div class="badge badge-outline-danger">{{i.achived}}</div>
                    
                  {% else %}
                    <div class="badge badge-outline-success">{{i.achived}}</div>
                  {%endif%}
                  </td>
                   
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  function myFunction() {
   var input, filter, table, tr, td, i, txtValue;
   input = document.getElementById("search");
   filter = input.value.toUpperCase();
   table = document.getElementById("myTable");
   tr = table.getElementsByTagName("tr");
   for (i = 0; i < tr.length; i++) {
     td = tr[i].getElementsByTagName("td")[1];
     if (td) {
       txtValue = td.textContent || td.innerText;
       if (txtValue.toUpperCase().indexOf(filter) > -1) {
         tr[i].style.display = "";
       } else {
         tr[i].style.display = "none";
       }
     }
   }
 }
 </script>


</a {% endblock %}