<!-- view_leads.html -->

{%extends 'head/he_base.html'%}
{% load static %}

{% block content %}
<style>
  .red {
    color: red;
  }

  .green {
    color: green;
  }
</style>

<div class="row mt-5">
  <div class="card">
    <div class="card-body">
      
      <div class="table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th scope="col" style="color:#6C7293;">Date</th>
              <th scope="col" style="color:#6C7293;">Total Leads</th>
              <!-- <th scope="col" style="color:#6C7293;">Target</th> -->
            </tr>
          </thead>
          <tbody>
            {% for lead in leads %}
            <tr>
              <td><a href="{% url 'he_view_all_leads' lead.id lead.id %}" class="text-decoration-none text-white">{{ lead.file_date }}</a></td>
              <td>{{ lead.lead_count }}</td>
              <!-- <td class="{% if lead.target < 100 %}red{% else %}green{% endif %}">{{ lead.target }}</td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



{% endblock %}
