{%extends 'admin/ad_base.html'%}
{%load static%}
{%block content%}

<style>
  .notification {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: #555;
  color: white;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: white;
  color: black;
}
</style>
<div class="row pt-3" style="background-color: black;">
    <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">Schedule Work History</div>
  </div> 
  <div class="row">
    <div class="col-sm-12" style="text-align: right;" >
      
      
    </div>

    
  </div>
  <div class="row">
    <div class="col-sm-2" style="margin-left: auto; padding-right: 30%;">
     
        <ul class="navbar navbar-expand" style="list-style-type: none; margin: 0; padding: 0;">
          <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative notification" href="javascript:;" data-toggle="dropdown" >
            <span>Free Time</span>
            <span class="badge">{{noti}}</span>
          </a>
          
      
          <div class="dropdown-menu dropdown-menu-right" style="margin-top: 300px;">
            <ul class="a" style=" list-style-type: none;width: 200px; ">
              {% for l in hr%}
              <li><a href="" style="display: block; padding: 8px 16px; text-decoration: none; color: white; font-size: 20px;"><p >{{l}}</p></a></li>
              
              {%endfor%}
            </ul>
          </div>
        </ul>
   
        
        
        

    </div>
  </div>
  
  <div class="row mt-4">
    <div class="card">
      <div class="card-body">
        <div class="row"  >

          <div class="col-sm-12" style="text-align: right;">
            <form action="{% url 'filter_shedule' idr%}" method="post">
              {% csrf_token %}
            
            <div class="row">
              <div class="col-sm-4" style="margin:0 0 2% 65%;">
                <div class="row">
                  <div class="col-sm-10">
                    <input class="form-control " type="date" name="flt_date" id="">
                    
                  </div>
                  <div class="col-sm-2" >
                    <input class="btn btn-light" style="height: 38px;" type="submit" value="Filter">
                  </div>
    
                </div>

              </div>
            </div>
          </form>
            
          </div>
          
        </div>
        <input type="text" class="form-control text-light" id="search" placeholder="search...">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col-4" style="color:#6C7293;">Start Date & Time</th> 
                <th scope="col-4" style="color:#6C7293;">End Date & Time</th> 
                <th scope="col-4" style="color:#6C7293;">Description</th> 
                <th scope="col-4" style="color:#6C7293;">File</th> 
                <th scope="col-4" style="color:#6C7293;">Status</th> 
            
              </tr>
            </thead>
            <tbody id="myTable">
                {% for k in events%}
                <tr>
                <td style="color:white;">{{ k.start}}</td>
                <td style="color:white;">{{ k.end}}</td>
                <td style="color:white;" data-toggle="modal" data-target="#view{{k.id}}"><div class="badge badge-outline-info">View Details</div></td> 
                <td style="color:white;">
                  {% if k.img == NULL%}
                  <div class="badge badge-outline-primary"><a style="text-decoration: none;" href="{{k.img}}" download>Download</a></div>
                  {%else%}
                  <div class="badge badge-outline-primary"><a style="text-decoration: none;" href="{{k.img}}" download>Download</a></div>
                  {%endif%}

                </td>
                <td style="color:white;">
                  {% if k.status == "pending"%}
                  <div class="badge badge-outline-danger">{{k.status}}</div>
                  {% elif k.status == "draft"%}
                  <div class="badge badge-outline-danger">{{k.status}}</div>
                  {%else%}
                  <a data-toggle="modal" data-target="#descr{{k.id}}"><div class="badge badge-outline-success">{{k.status}}</div></a>
                  {%endif%}
                </td>
                
              </tr>
              {%endfor%}
          </table>
        </div>
  
      </div>
    </div>
  </div>
  {% for g in events%}
  <div class="rowmt-5 modal fade" id="descr{{g.id}}">
    <div class="modal-dialog modal-m modal-dialog-centered" role="document">
      <div class="modal-content modal-m" style="background-color: #191c24;">
        <div class="card ">
          <div class="card-body">
            <div class="container">
              <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
                style="background-color: #191c24;border:none; float: right; font-size: 20px;">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="text-info" style="font-size: 20px;font-weight: 600;" id="heads">{{g.status}}</div>
  
              <div class="row mt-5">
                <div class="col">
                  <p class=" mt-2 text-light" style="color:white; ; font-size: 20px; text-align:justify" id="sub_des"></p>
                </div>
                <div id="files_sub" style="text-align: center;">
                  {% if g.status == "complete"%}
                  <a href="{{g.st_file.url}}"><img class="card-img-top" style=" width: 18rem;" src="{{g.st_file.url}}"></a>
                  {% elif g.status == "submitted"%}
                  <a href="{{g.st_file.url}}"><img class="card-img-top" style=" width: 18rem;" src="{{g.st_file.url}}"></a>
                  {%else%}
                  {%endif%}
                </div>
                
              </div>
             
          </div>
        </div>
    </div>
  </div>
  </div>
  </div>
  {%endfor%}
  
  {% for l in events%}
  
  <div class="rowmt-5 modal fade" id="view{{l.id}}">
    <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-content modal-xl" style="background-color: #191c24;">
        <div class="card ">
          <div class="card-body">
            <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
              style="background-color: #191c24;border:none;float: right;font-size: 20px;">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-info" style="font-size: 20px;font-weight: 600;">Description</div>
  
              <div class="row mt-5">
                
                <div class="col-md-12 ">
                    <p class=" mt-2 text-light" style="color:white; ; font-size: 20px; text-align:justify" id="sub_des">{{l.name}}</p>
                  
                </div>
              </div>
              {% if l.status == "submitted" %}
              <div class="row">
                <div class="col-sm-12">
                      {% if l.fb != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Facebook','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Facebook</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.tw != None%}
                      <a href="" data-toggle="modal" data-target="#descr"onclick="view_sub('Twitter','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Twitter</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.pin != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Pinterest','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Pinterest</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.link != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Linkedin','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Linkedin</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.insta != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Instagram','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Instagram</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.tumb != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Tumblr','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Tumblr</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.diry != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Directories','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Directories</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.yt != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('You Tube','{{l.id}}')"><div class="badge badge-outline-primary mt-1">You Tube</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.qra != v%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Quora','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Quora</div></a>
                      {%else%}
                      {%endif%}
  
                      {% for n in dl_sub %}
                      
                        {% if l.id == n.events_id%}
                        <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('{{n.label}}','{{n.id}}')"><div class="badge badge-outline-primary mt-1">{{n.label}}</div></a>
                        {%else%}
                        {%endif%}
                      {%endfor%}
                </div>
                </div>
              </div>
              {% elif l.status == "complete" %}
              <div class="row">
                <div class="col-sm-12">
                      {% if l.fb != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Facebook','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Facebook</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.tw != None%}
                      <a href="" data-toggle="modal" data-target="#descr"onclick="view_sub('Twitter','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Twitter</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.pin != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Pinterest','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Pinterest</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.link != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Linkedin','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Linkedin</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.insta != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Instagram','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Instagram</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.tumb != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Tumblr','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Tumblr</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.diry != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Directories','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Directories</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.yt != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('You Tube','{{l.id}}')"><div class="badge badge-outline-primary mt-1">You Tube</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.qra != v%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Quora','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Quora</div></a>
                      {%else%}
                      {%endif%}
  
                      {% for n in dl_sub %}
                      
                        {% if l.id == n.events_id%}
                        <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('{{n.label}}','{{n.id}}')"><div class="badge badge-outline-primary mt-1">{{n.label}}</div></a>
                        {%else%}
                        {%endif%}
                      {%endfor%}
                </div>
              </div>
              {%else%}
              {%endif%}
      
          </div>
        </div>
      </div>
    </div>
  </div>
  

  
  
  {%endfor%}

  <div class="rowmt-5 modal fade" id="descr">
    <div class="modal-dialog modal-m modal-dialog-centered" role="document">
      <div class="modal-content modal-m" style="background-color: #191c24;">
        <div class="card ">
          <div class="card-body">
            <div class="container">
              <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
                style="background-color: #191c24;border:none; float: right; font-size: 20px;">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="text-info" style="font-size: 20px;font-weight: 600;" id="heads2"> </div>
  
              <div class="row mt-5">
                <div class="col">
                  <p class=" mt-2 text-light" style="color:white; ; font-size: 20px; text-align:justify" id="sub_des2"></p>
                </div>
                <div id="files_sub">
                  <a href="" id="files2"><div  class="btn-primary Search" style="width:220px; text-align:center" >Download Attach File</div></a>
                </div>
                
              </div>
             
          </div>
        </div>
    </div>
  </div>
  
  <script>
    function view_sub(el, id){
        var elem=el
        var ids=id
        
        $.ajax({
            type: "GET",
            url: "{% url 'get_event_det' %}",
            data: {
                ele : elem,
                idss:ids,
                
            },
            success:function(response){
                    console.log(response)
             
                    head = response.hd
                    des = response.des
                    fil = response.fl
             
                    document.getElementById('sub_des2').innerHTML = "Posting Date : "+des;
                    document.getElementById('heads2').innerHTML = head;
                    flr=document.getElementById('files2')
               
                    flr.href = (`/media/${fil}`)
                    
  
            }});
  
        
    }
  </script>
  <script>
    $(document).ready(function () {
      $("#search").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
  
  <script type="text/javascript">
    function setselected(id) {
      $('input[name="selected"]').val(id);
    }
  </script>

{% endblock %}