{%extends 'admin/ad_base.html'%}
{%load static%}
{%block content%}


<div class="row pt-3" style="background-color: black;">
  <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">Work Progress Report</div>
</div>
<div class="row mt-4">
  <div class="card">
    <div class="card-body">
     
      <div style="text-align: right;">
        <a href="" data-toggle="modal" data-target="#flt_date"
                    style="text-decoration: none;"><button type="submit" name="submit" id="alert2" class="btn-primary Search" >Filter By Date</button></a><br><br>
      </div>
      <div class="row mt-3 mb-3" >
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control text-light" id="search" placeholder="Search by Date...">
            </div>
            
          </div>
          
          
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control text-light" id="search_ts" placeholder="Search by Client...">
            </div>
            
          </div>
          
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control text-light" id="search_ex" placeholder="Search By Executive ...">
            </div>
            
          </div>
          
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="color:#6C7293;">Date</th>
              <th scope="col" style="color:#6C7293;">Client Name</th>
              <th scope="col" style="color:#6C7293;">Assigned To</th>
              <th scope="col" style="color:#6C7293;">View Details</th>
              
            </tr>
          </thead>
          <tbody id="myTable">

            
              {% for i in pr_work%}
              <tr>
                <td style="color:white;">{{i.end_date}}</td>
              <td style="color:white;">{{i.cl_name}}</td>
             
              <td style="color:white;">{{i.user.fullname}}</td>
            

              <td class="text-primary"><a href="{% url 'ad_work_progress_det' i.id%}"
                  style="text-decoration: none;">
                  <div class="badge badge-outline-info">View Details</div>
                </a></td>
              
              </tr>
              {%endfor%}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="rowmt-5 modal fade" id="flt_date">
    <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-content modal-xl" style="background-color: #191c24;">
        <div class="card ">
          <div class="card-body">
            <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
              style="background-color: #191c24;border:none;float: right;font-size: 20px;">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-info" style="font-size: 20px;font-weight: 600;">Filter By Date</div>
  
            <form action="{% url 'flt_progress' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %} 
  
              <div class="row mt-5">
                
                <div class="col-md-6 ">
                    <div>
                        <label for="">Start Date</label>
                    </div>
                    <div>
                    <input type="date" name="str_dt" class="drop form-control ml-3 mt-2 text-light" style="border:1px solid #6C7293 ;height:70px;"  >
                    </div>

      
                </div>
                <div class="col-md-6 ">
                    <div>
                        <label for=""> End Date</label>
                    </div>
                    <div>
                        <input type="date" name="end_dt" class="drop form-control ml-3 mt-2 text-light" style="border:1px solid #6C7293 ;height:70px;"  >
                    </div>

      
                </div>

              </div>

              <div class="row mt-4 ">
                <div class="col-md-12" style="text-align: center;">
                    
                        <button type="submit" name="submit" id="alert2" class="btn-primary Search" >Filter By Date</button>
                    
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>




<script>
  $(document).ready(function () {
    $("#search").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  $(document).ready(function () {
    $("#search_ts").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  $(document).ready(function () {
    $("#search_ex").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<script type="text/javascript">
  function setselected(id) {
    $('input[name="selected"]').val(id);
  }
</script>

{% endblock %}