{%extends 'admin/ad_base.html'%}
{% load static %}
{% block content %}
<style>
  #h2{
    color:#6C7293;
  }
  h2{
    color: white;
  }
</style>
<h2 id="h2">Executives</h2>

<div class="row">
  <div class="col-md-4 col-lg-4 grid-margin pt-2">
    <div class="card" style=" max-height: 200px;">
      <a href="{% url 'ad_waste_data_exe' %}" class="text-decoration-none text-white">
      <div class="card-body">
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h4 class="mb-0">Executives</h4>
            </div>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-account text-primary ms-auto"></i>
          </div>
        </div>
      </div></a>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 grid-margin pt-2">
    <div class="card" style=" max-height: 200px;">
      <a href="{% url 'ad_waste_data' %}" class="text-decoration-none text-white">
      <div class="card-body">
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
            <div class="d-flex d-sm-block d-md-flex align-items-center">
              <h4 class="mb-0">Telecallers</h4>
            </div>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
            <i class="icon-lg mdi mdi-account text-primary ms-auto"></i>
          </div>
        </div>
      </div></a>
    </div>
  </div>
  
</div>

{% endblock %}