{%extends 'executive/ex_base.html'%}
<!-- DEVprojects -->
{%load static%}
{% load custom_filters %}
{%block content%}


<div class="row pt-3">
    <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">
      Client
    </div>
</div>

<div class="  row mt-3">
    <div class=" col-12 p-2">
        <h5 class="mt-3 p-3">Perfomance</h5>
    </div>
    <div class="col-12 p-2">
       <div class="row g-2">
        {% for w in  perf %}
        <div class="col-lg-3 ">
            <div class="card mt-2 p-3">
                <div class="row">
                    <div class="col-7">
                        <h6 class="p-1">  
                            &nbsp;{{w.client_work.task}}
                        </h6>
                    </div>
                    <div class="col-5">
                        {% if w.previous_week == 0 %}
                        
                        <span class="mdi mdi-information-outline mdi-24px btn text-info"></span> 
                        {% endif %}
                        {% if w.previous_week < w.current_week %}
                        <span class="mdi mdi-arrow-up-bold-circle-outline mdi-24px btn text-success"></span> 
                        {% endif %}
                        {% if w.previous_week > w.current_week %}
                        <span class="mdi mdi-arrow-down-bold-circle-outline mdi-24px btn btn-outline-danger "></span>
                        {% endif %}
                    </div>
                </div>
               
                <p class="mt-3">Current progress : {{w.week_perfomance}} </p>
                {% if w.previous_week == 0 %}
                    <p class="badge badge-outline-info"> <span class="mdi mdi-info-circle mdi-24px"></span>Progressing</p>
                {% endif %}
                {% if w.previous_week < w.current_week %}
                <p class="badge badge-outline-success"> <span class="mdi mdi-check-circle mdi-24px"></span> Achived</p>
                {% endif %}
                {% if w.previous_week > w.current_week %}
                <p class="badge badge-outline-danger"><span class="mdi mdi-close-circle mdi-24px"></span> Not Achived</p>
                {% endif %}
                
                
                <!-- <p><span>Previous Week :</span><span>Current Week :</span></p> -->
            </div>
        </div>
        {% endfor%}
       </div>
    </div>
</div>



{% endblock %}