{%extends 'executive/ex_base.html'%}
<!-- DEVprojects -->
{%load static%}
{%block content%}

<div class="col-md-12">    
    <div id='calendar'></div> 
</div>


<div class="rowmt-5 modal fade" id="create_post">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
          <div class="modal-content modal-xl" style="background-color: #191c24;">
            <div class="card ">
              <div class="card-body">
                <div class="row">
                    <div class="col-lg-10 col-md-12 col-sm-12 mt-2" style="margin: 0 auto;">
                        <div class="card">
                            
                            <div class="card-body">
                          
                                    <div class="row" >
                                        <div class="col-12 col-sm-12 col-xl-12 my-auto" style="margin: 0 auto;">
                                            
                                            <textarea class=" form-control text-light" style="border:0px solid #6C7293 ;height:400px; width: 100%; font-size: 16px;" placeholder="Type something else..." name="description" id="dsrptn"></textarea>
                                        </div>
                                    </div>
        
                                    <div class="row mt-3" >
                                        <div class="col-12 col-sm-12 col-xl-8 " style="margin: 0 auto;">
                                            <div class="d-flex d-sm-block d-md-flex ">
                                            
                                                
                                                <div>
                                                  <input type="file" name="filed" id="file" multiple>
                                                </div>
                                            
                                
                                            </div>
                                        </div>
                                    </div>
    
                                   
                                    <div class="row mt-3" >
                                        <div class="col-sm-12" style="text-align: right;">
                                            <div>
                                                
        
                                                <button type="submit" class="btn btn-outline-primary mt-4 ml-4" id="saveEvent">Save And Draft</button>
                                         
                                            
                                            <a href="{% url 'published_post' %}"><div class="btn btn-outline-primary mt-4 " >Create Post</div></a>
                                            </div>
                                        </div>
                                        
                                
                                          
                                    </div>
                               
                                
        
                        
                            </div>
                           
                        </div>
                    </div>
                
                </div>
            </div>
            
            <br><br>
          </div>
        </div>
      </div>
    </div>




<script>
    $(document).ready(function () {
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,'
            },
            events: '/all_events',
            selectable: true,
            selectHelper: true,
            editable: true,
            eventLimit: true,
            select: function (start, end, allDay) {
                var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                $('#create_post').modal('show');
                $('#saveEvent').off('click').on('click', function() {
                
                var title = $('#dsrptn').val();
                var file = $('#file')[0].files[0];  // get the first selected file
                
                
                
                var formData = new FormData();
                formData.append('title', title);
                formData.append('start', start);
                formData.append('end', end);
                formData.append('file', file);
                $.ajax({
                    type: "POST",
                    url: "{% url 'ex_add_event' %}",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert("Added Successfully");
                            $('#create_post').modal('hide');
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                });
            },

            eventResize: function (event) {
                var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                var title = event.title;
                var id = event.id;
                $.ajax({
                    type: "GET",
                    url: '/update',
                    data: {'title': title, 'start': start, 'end': end, 'id': id},
                    dataType: "json",
                    success: function (data) {
                        calendar.fullCalendar('refetchEvents');
                        alert('Event Update');
                    },
                    error: function (data) {
                        alert('There is a problem!!!');
                    }
                });
            },
  
            eventDrop: function (event) {
                var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                var title = event.title;
                var id = event.id;
                $.ajax({
                    type: "GET",
                    url: '/update',
                    data: {'title': title, 'start': start, 'end': end, 'id': id},
                    dataType: "json",
                    success: function (data) {
                        calendar.fullCalendar('refetchEvents');
                        alert('Event Update');
                    },
                    error: function (data) {
                        alert('There is a problem!!!');
                    }
                });
            },
  
            eventClick: function (event) {
                if (confirm("Are you sure you want to remove it?")) {
                    var id = event.id;
                    $.ajax({
                        type: "GET",
                        url: '/remove',
                        data: {'id': id},
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert('Event Removed');
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                }
            },
  
        });
    });
  
 </script>   


  {% endblock %}