{%extends 'executive/ex_base.html'%}
{%load static%}
{%block content%}


<div class="row pt-3" style="background-color: black;">
  <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">Duplicate Leads</div>
</div>
<div class="row mt-5">
  <div class="card">
    <div class="card-body">
     
      <div style="text-align: right;">
        <a href="" data-toggle="modal" data-target="#flt_day"style="text-decoration: none;"><button type="submit" name="submit" id="alert2" class="btn-primary Search" >Filter By Day</button></a>
        <a href="" data-toggle="modal" data-target="#flt_month"style="text-decoration: none;"><button type="submit" name="submit" id="alert3" class="btn-primary Search" >Filter By Month</button></a>
        <br><br>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="color:#6C7293;">Date</th>
              <th scope="col" style="color:#6C7293;">Name</th>
              <th scope="col" style="color:#6C7293;">Email </th>
              <th scope="col" style="color:#6C7293;">Contact</th>
              <th scope="col" style="color:#6C7293;">Qualification</th>
              <th scope="col" style="color:#6C7293;">College</th>
              <th scope="col" style="color:#6C7293;">Year of Passout</th>
              <th scope="col" style="color:#6C7293;">Location</th>
              
              
              
            </tr>
          </thead>
          <tbody id="myTable">

            
            {% for i in duplicate %}  
            <tr>
                <td style="color:white;">{{i.date}}</td>
                <td style="color:white;">{{i.name}}</td>
                <td style="color:white;">{{i.email_id}}</td>
                <td style="color:white;">{{i.ph_no}}</td>
                <td style="color:white;">{{i.qualification}}</td>
                <td style="color:white;">{{i.collegename}}</td>
                <td style="color:white;">{{i.year_of_passout}}</td>
                <td style="color:white;">{{i.location}}</td>
                
            

             
              
            </tr>
            {% endfor %}  
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="rowmt-5 modal fade" id="flt_day">
    <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-content modal-xl" style="background-color: #191c24;">
        <div class="card ">
          <div class="card-body">
            <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
              style="background-color: #191c24;border:none;float: right;font-size: 20px;">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-info" style="font-size: 20px;font-weight: 600;">Filter By Day</div>
  
            <form action="{% url 'ex_flt_day_duplicate' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %} 
  
              <div class="row mt-5">
                
                <div class="col-md-12 ">
                    <div>
                        <label for="">Select Day</label>
                    </div>
                    <div>
                    <input type="date" name="day" class="drop form-control ml-3 mt-2 text-light" style="border:1px solid #6C7293 ;height:70px;" required >
                    </div>

      
                </div>
                <!-- <div class="col-md-6 ">
                    <div>
                        <label for=""> End Date</label>
                    </div>
                    <div>
                        <input type="date" name="end_dt" class="drop form-control ml-3 mt-2 text-light" style="border:1px solid #6C7293 ;height:70px;" required >
                    </div>

      
                </div> -->

              </div>

              <div class="row mt-4 ">
                <div class="col-md-12" style="text-align: center;">
                    
                        <button type="submit" name="submit" id="alert2" class="btn-primary Search" >Filter By Day</button>
                    
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="rowmt-5 modal fade" id="flt_month">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">Filter By Month</div>

          <form action="{% url 'ex_flt_month_duplicate' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 

            <div class="row mt-5">
              
              <div class="col-md-12 ">
                  <div>
                      <label for="">Select Month</label>
                  </div>
                  <div>
                  <input type="month" name="month" class="drop form-control ml-3 mt-2 text-light" style="border:1px solid #6C7293 ;height:70px;" required >
                  </div>

    
              </div>
              <!-- <div class="col-md-6 ">
                  <div>
                      <label for=""> End Month</label>
                  </div>
                  <div>
                      <input type="month" name="end_month" class="drop form-control ml-3 mt-2 text-light" style="border:1px solid #6C7293 ;height:70px;" required >
                  </div>

    
              </div> -->

            </div>

            <div class="row mt-4 ">
              <div class="col-md-12" style="text-align: center;">
                  
                      <button type="submit" name="submit" id="alert2" class="btn-primary Search" >Filter By Month</button>
                  
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





<script>
  $(document).ready(function () {
    $("#search").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  $(document).ready(function () {
    $("#search_ts").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  $(document).ready(function () {
    $("#search_ex").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<script type="text/javascript">
  function setselected(id) {
    $('input[name="selected"]').val(id);
  }
</script>

{% endblock %}