{%extends 'executive/ex_base.html'%}
{%load static%}
{%block content%}

<style>
  .notification {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: #555;
  color: white;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: white;
  color: black;
}
</style>
<div class="row pt-3" style="background-color: black;">
    <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">Schedule Work History</div>
  </div> 
  <div class="row">
    <div class="col-sm-12" style="text-align: right;" >
      
      
    </div>

    
  </div>
  
  
  <div class="row mt-4">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control text-light" id="search" placeholder="search...">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col-4" style="color:#6C7293;">Start Date & Time</th> 
                <th scope="col-4" style="color:#6C7293;">End Date & Time</th> 
                <th scope="col-4" style="color:#6C7293;">Description</th> 
                <th scope="col-4" style="color:#6C7293;">File</th> 
                <th scope="col-4" style="color:#6C7293;">Status</th> 
        
            
              </tr>
            </thead>
            <tbody id="myTable">
                {% for k in events%}
                <tr>
                <td style="color:white;">{{ k.start}}</td>
                <td style="color:white;">{{ k.end}}</td>
                <td style="color:white;" data-toggle="modal" data-target="#view{{k.id}}"><div class="badge badge-outline-info">View Details</div></td> 
                <td style="color:white;">
                  {% if k.img == NULL%}
                  <div class="badge badge-outline-primary"><a style="text-decoration: none;" href="{{k.img}}" download>Download</a></div>
                  {%else%}
                  <div class="badge badge-outline-primary"><a style="text-decoration: none;" href="{{k.img}}" download>Download</a></div>
                  {%endif%}

                </td>
                <td style="color:white;">
                  {% if k.status == "pending"%}
                  <a data-toggle="modal" data-target="#status_view{{k.id}}"><div class="badge badge-outline-danger">{{k.status}}</div></a>
                  {% elif k.status == "draft"%}
                  <a data-toggle="modal" data-target="#status_view{{k.id}}"><div class="badge badge-outline-danger">{{k.status}}</div></a>
                  {%else%}
                  <a data-toggle="modal" data-target="#descr{{k.id}}"><div class="badge badge-outline-success">{{k.status}}</div></a>
                  {%endif%}
                </td>
             
                
              </tr>
              {%endfor%}
          </table>
        </div>
  
      </div>
    </div>
  </div>
  {% for g in events%}
  <div class="rowmt-5 modal fade" id="descr{{g.id}}">
    <div class="modal-dialog modal-m modal-dialog-centered" role="document">
      <div class="modal-content modal-m" style="background-color: #191c24;">
        <div class="card ">
          <div class="card-body">
            <div class="container">
              <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
                style="background-color: #191c24;border:none; float: right; font-size: 20px;">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="text-info" style="font-size: 20px;font-weight: 600;" id="heads">{{g.status}}</div>
  
              <div class="row mt-5">
                <div class="col">
                  <p class=" mt-2 text-light" style="color:white; ; font-size: 20px; text-align:justify" id="sub_des"></p>
                </div>
                <div id="files_sub" style="text-align: center;">
                 
                  {% if g.status == "complete"%}
                  <a href="{{g.st_file.url}}"><img class="card-img-top" style=" width: 18rem;" src="{{g.st_file.url}}"></a>
                  {% elif g.status == "submitted"%}
                  <a href="{{g.st_file.url}}"><img class="card-img-top" style=" width: 18rem;" src="{{g.st_file.url}}"></a>
                  {%else%}
                  {%endif%}
                </div>
                
              </div>
             
          </div>
        </div>
    </div>
  </div>
  </div>
  </div>
  {%endfor%}

    {% for g in events%}
  <form action="{% url 'ex_edit_post_status' g.id%}" class="form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="rowmt-5 modal fade" id="status_view{{g.id}}">
    <div class="modal-dialog modal-m modal-dialog-centered" role="document">
      <div class="modal-content modal-m" style="background-color: #191c24;">
        <div class="card ">
          <div class="card-body">
            <div class="container">
              <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
                style="background-color: #191c24;border:none; float: right; font-size: 20px;">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="text-info" style="font-size: 20px;font-weight: 600;" id="heads">Status Updation</div>
  
              <div class="row">
                <div class="col-sm-12 mt-3"  style="text-align: center;">
                  <label for="">Status :</label>
                  {% if g.status == "pending"%}
                  <input type="radio" value="pending" id="status2" style="margin-left: 1%;"  name="status" checked><label for="" >Pending</label>
                  {%else%}
                  <input type="radio" value="pending" id="status2" style="margin-left: 1%;"  name="status"><label for="" >Pending</label>
                  {%endif%}
                  {% if g.status == "submitted"%}
                  <input type="radio" value="submitted" id="status" style="margin-left: 1%;"  name="status" checked><label for="" >Submitted</label>
                  {%else%}
                  <input type="radio" value="submitted" style="margin-left: 1%;" id="statu" name="status"><label for="">Submitted</label>
                  {%endif%}
  
                  
  
                  
                </div>
              </div>
              
              <div class="row mt-2" style="text-align: center;">
                <div class="col-sm-12" style=" " id="cmpl_file">
                  <input type="file" name="cmpl_file"  style="text-decoration:none;border:none;background-color: #191c24;color:#6C7293 ; margin-left: 8%;">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12" >
                    <div class="col-md-4 ">
                        <input type="checkbox" class="ml-3 mt-2 text-light" onclick='check_fb("{{forloop.counter}}")' name="fb" id="fb{{forloop.counter}}" value="Facebook">
                        <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Facebook</label>
                      </div>
                      <div class="col-md-12 ">
                        <input type="date"  name="fb_txt" id="fb_txt{{forloop.counter}}"  class="form-control mt-2" value="{{ dt | date:'Y-m-d'  }}"style="text-decoration:none;background-color: #191c24;color:#6C7293 ;display: none;">
                        
                          <input type="file" name="fb_file" id="fb_file{{forloop.counter}}" class="form-control mt-2 " 
                          style="text-decoration:none;border:none;background-color: #191c24;color:#6C7293 ;display: none;">
                      </div>
    
                      <div class="col-md-4 ">
                        <input type="checkbox" class="ml-3 mt-2 text-light" onclick='check_tw("{{forloop.counter}}")' name="tw" id="tw{{forloop.counter}}" value="Twitter">
                        <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Twitter</label>
                      </div>
                      <div class="col-md-12 ">
                        <input type="date" value="{{ dt | date:'Y-m-d'  }}" name="tw_txt" id="tw_txt{{forloop.counter}}"  class="form-control mt-2 "style="text-decoration:none;background-color: #191c24;color:#6C7293 ;display: none;">
                        
                          <input type="file" name="tw_file" id="tw_file{{forloop.counter}}" class="form-control mt-2 "
                          style="text-decoration:none;border:none;background-color: #191c24;color:#6C7293 ;display: none;">
                      </div>
    
                      <div class="col-md-4 ">
                        <input type="checkbox" class="ml-3 mt-2 text-light" onclick='check_pin("{{forloop.counter}}")' name="pin" id="pin{{forloop.counter}}" value="Pinterest">
                        <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Pinterest</label>
                      </div>
                      <div class="col-md-12 ">
                        <input type="date" value="{{ dt | date:'Y-m-d'  }}"name="pin_txt" id="pin_txt{{forloop.counter}}"  class="form-control mt-2 "style="text-decoration:none;background-color: #191c24;color:#6C7293 ;display: none;">
                        
                          <input type="file" name="pin_file" id="pin_file{{forloop.counter}}" class="form-control mt-2 "
                          style="text-decoration:none;border:none;background-color: #191c24;color:#6C7293 ;display: none;">
                      </div>
    
                      <div class="col-md-4 ">
                        <input type="checkbox" class="ml-3 mt-2 text-light" onclick='check_link("{{forloop.counter}}")' name="link" id="link{{forloop.counter}}" value="Linkedin">
                        <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Linkedin</label>
                      </div>
                      <div class="col-md-12 ">
                        <input type="date" value="{{ dt | date:'Y-m-d'  }}"name="link_txt" id="link_txt{{forloop.counter}}"  class="form-control mt-2 "style="text-decoration:none;background-color: #191c24;color:#6C7293 ;display: none;">
                        
                          <input type="file" name="link_file" id="link_file{{forloop.counter}}" class="form-control mt-2 "
                          style="text-decoration:none;border:none;background-color: #191c24;color:#6C7293 ;display: none;">
                      </div>
    
                      <div class="col-md-4 ">
                        <input type="checkbox" class="ml-3 mt-2 text-light" onclick='check_insta("{{forloop.counter}}")' name="insta" id="insta{{forloop.counter}}" value="Instagram">
                        <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Instagram</label>
                      </div>
                      <div class="col-md-12 ">
                        <input type="date" value="{{ dt | date:'Y-m-d'  }}"name="insta_txt" id="insta_txt{{forloop.counter}}"  class="form-control mt-2 "style="text-decoration:none;background-color: #191c24;color:#6C7293 ; display: none;">
                        
                          <input type="file" name="insta_file" id="insta_file{{forloop.counter}}" class="form-control mt-2 "
                          style="text-decoration:none;border:none;background-color: #191c24;color:#6C7293 ;display: none;">
                      </div>
    
                      <div class="col-md-4 ">
                        <input type="checkbox" class="ml-3 mt-2 text-light" onclick='check_tumb("{{forloop.counter}}")' name="tumb" id="tumb{{forloop.counter}}" value="Tumblr">
                        <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Tumblr</label>
                      </div>
                      <div class="col-md-12 ">
                        <input type="date" value="{{ dt | date:'Y-m-d'  }}"name="tumb_txt" id="tumb_txt{{forloop.counter}}"  class="form-control mt-2 "style="text-decoration:none;background-color: #191c24;color:#6C7293 ; display: none;">
                       
                          <input type="file" name="tumb_file" id="tumb_file{{forloop.counter}}" class="form-control mt-2 "
                          style="text-decoration:none;border:none;background-color: #191c24;color:#6C7293 ;display: none;">
                      </div>
    
                      <div class="col-md-4 ">
                        <input type="checkbox" class="ml-3 mt-2 text-light" onclick='check_diry("{{forloop.counter}}")' name="diry" id="diry{{forloop.counter}}" value="Directories">
                        <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Directories</label>
                      </div>
                      <div class="col-md-12 ">
                        <input type="date" value="{{ dt | date:'Y-m-d'  }}"name="diry_txt" id="diry_txt{{forloop.counter}}"  class="form-control mt-2 "style="text-decoration:none;background-color: #191c24;color:#6C7293 ; display: none;">
                        
                          <input type="file" name="diry_file" id="diry_file{{forloop.counter}}" class="form-control mt-2 "
                          style="text-decoration:none;border:none;background-color: #191c24;color:#6C7293 ;display: none;">
                      </div>
    
                      <div class="col-md-4 ">
                        <input type="checkbox" class="ml-3 mt-2 text-light" onclick='check_yt("{{forloop.counter}}")' name="yt" id="yt{{forloop.counter}}" value="YouTube">
                        <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">YouTube</label>
                      </div>
                      <div class="col-md-12 ">
                        <input type="date" value="{{ dt | date:'Y-m-d'  }}"name="yt_txt" id="yt_txt{{forloop.counter}}"  class="form-control mt-2 "style="text-decoration:none;background-color: #191c24;color:#6C7293 ;display: none;">
                        
                          <input type="file" name="yt_file" id="yt_file{{forloop.counter}}" class="form-control mt-2 "
                          style="text-decoration:none;border:none;background-color: #191c24;color:#6C7293 ;display: none;">
                      </div>
    
                      <div class="col-md-4 ">
                        <input type="checkbox" class="ml-3 mt-2 text-light" onclick='check_qra("{{forloop.counter}}")' name="qra" id="qra{{forloop.counter}}" value="Quora">
                        <label for="" class="mr-2 ml-3 mt-2" style="color:white ;">Quora</label>
                      </div>
                      <div class="col-md-12 ">
                        <input type="date" value="{{ dt | date:'Y-m-d'  }}"name="qra_txt" id="qra_txt{{forloop.counter}}" class="form-control mt-2 "style="text-decoration:none;background-color: #191c24;color:#6C7293 ;display: none;">
                        
                          <input type="file" name="qra_file" id="qra_file{{forloop.counter}}" class="form-control mt-2 "
                          style="text-decoration:none;border:none;background-color: #191c24;color:#6C7293 ;display: none;">
                      </div>
                      
                      <div id="sub_info{{forloop.counter}}">
    
                      </div>
                      <div class="btn btn-light mt-2" id="add_sub" onclick='add_addi("{{forloop.counter}}")'>+</div>
                </div>

              </div>
            <hr>
            

              <div class="row mt-2" style="text-align: center;">
                <div class="col-sm-12" style=" " id="cmpl_file">
                  <input type="submit" class="btn btn-success">
                </div>
              </div>

             
          </div>
        </div>

        
    </div>
  </div>
  </div>
  </div>
  </form>
  {%endfor%}

  
  {% for l in events%}
  
  <div class="rowmt-5 modal fade" id="view{{l.id}}">
    <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-content modal-xl" style="background-color: #191c24;">
        <div class="card ">
          <div class="card-body">
            <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
              style="background-color: #191c24;border:none;float: right;font-size: 20px;">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-info" style="font-size: 20px;font-weight: 600;">Description</div>
  
              <div class="row mt-5">
                
                <div class="col-md-12 ">
                    <p class=" mt-2 text-light" style="color:white; ; font-size: 20px; text-align:justify" id="sub_des">{{l.name}}</p>
                  
                </div>
              </div>
              {% if l.status == "submitted" %}

              <div class="row">
                <div class="col-sm-12">
                      {% if l.fb != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Facebook','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Facebook</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.tw != None%}
                      <a href="" data-toggle="modal" data-target="#descr"onclick="view_sub('Twitter','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Twitter</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.pin != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Pinterest','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Pinterest</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.link != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Linkedin','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Linkedin</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.insta != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Instagram','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Instagram</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.tumb != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Tumblr','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Tumblr</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.diry != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Directories','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Directories</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.yt != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('You Tube','{{l.id}}')"><div class="badge badge-outline-primary mt-1">You Tube</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.qra != v%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Quora','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Quora</div></a>
                      {%else%}
                      {%endif%}
  
                      {% for n in dl_sub %}
                      
                        {% if l.id == n.events_id%}
                        <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('{{n.label}}','{{n.id}}')"><div class="badge badge-outline-primary mt-1">{{n.label}}</div></a>
                        {%else%}
                        {%endif%}
                      {%endfor%}
                </div>
              </div>
              {% elif l.status == "complete" %}
              <div class="row">
                <div class="col-sm-12">
                      {% if l.fb != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Facebook','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Facebook</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.tw != None%}
                      <a href="" data-toggle="modal" data-target="#descr"onclick="view_sub('Twitter','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Twitter</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.pin != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Pinterest','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Pinterest</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.link != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Linkedin','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Linkedin</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.insta != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Instagram','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Instagram</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.tumb != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Tumblr','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Tumblr</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.diry != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Directories','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Directories</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.yt != None%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('You Tube','{{l.id}}')"><div class="badge badge-outline-primary mt-1">You Tube</div></a>
                      {%else%}
                      {%endif%}
                      {% if l.qra != v%}
                      <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('Quora','{{l.id}}')"><div class="badge badge-outline-primary mt-1">Quora</div></a>
                      {%else%}
                      {%endif%}
  
                      {% for n in dl_sub %}
                      
                        {% if l.id == n.events_id%}
                        <a href="" data-toggle="modal" data-target="#descr" onclick="view_sub('{{n.label}}','{{n.id}}')"><div class="badge badge-outline-primary mt-1">{{n.label}}</div></a>
                        {%else%}
                        {%endif%}
                      {%endfor%}
                </div>
              </div>
              {%else%}
              {%endif%}
      
          </div>
        </div>
      </div>
    </div>
  </div>
  

  
  
  {%endfor%}

  <div class="rowmt-5 modal fade" id="descr">
    <div class="modal-dialog modal-m modal-dialog-centered" role="document">
      <div class="modal-content modal-m" style="background-color: #191c24;">
        <div class="card ">
          <div class="card-body">
            <div class="container">
              <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
                style="background-color: #191c24;border:none; float: right; font-size: 20px;">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="text-info" style="font-size: 20px;font-weight: 600;" id="heads2"> </div>
  
              <div class="row mt-5">
                <div class="col">
                  <p class=" mt-2 text-light" style="color:white; ; font-size: 20px; text-align:justify" id="sub_des2"></p>
                </div>
                <div id="files_sub">
                  <a href="" id="files2"><div  class="btn-primary Search" style="width:220px; text-align:center" >Download Attach File</div></a>
                </div>
                
              </div>
             
          </div>
        </div>
    </div>
  </div>
  
  <script>
    function check_fb(elm){
      
      var chk_fb =document.getElementById(`fb${elm}`).checked;
      var textarea = document.getElementById(`fb_txt${elm}`);
      var files = document.getElementById(`fb_file${elm}`);

      if (chk_fb==true){
    
        textarea.style=('display: block');
        files.style=('display: block');
      }
      else{
        
        textarea.style=('display: none');
        files.style=('display: none');
      }
    }
  
    function check_tw(elm){
      var chk_tw=document.getElementById(`tw${elm}`).checked;
      var textarea = document.getElementById(`tw_txt${elm}`);
      var files = document.getElementById(`tw_file${elm}`);
      if (chk_tw==true){
    
        textarea.style=('display: block');
        files.style=('display: block');
      }else{
      
        textarea.style=('display: none');
        files.style=('display: none');
      }
    }
  
    function check_pin(elm){
      
      var chk_pin=document.getElementById(`pin${elm}`).checked;
      var textarea = document.getElementById(`pin_txt${elm}`);
      var files = document.getElementById(`pin_file${elm}`);
    
      if (chk_pin==true){
    
        textarea.style=('display: block');
        files.style=('display: block');
      }else{
      
        textarea.style=('display: none');
        files.style=('display: none');
      }
    }
  
    function check_link(elm){
      var chk_link=document.getElementById(`link${elm}`).checked;
      var textarea = document.getElementById(`link_txt${elm}`);
      var files = document.getElementById(`link_file${elm}`);
      if (chk_link==true){
    
        textarea.style=('display: block');
        files.style=('display: block');
      }else{
      
        textarea.style=('display: none');
        files.style=('display: none');
      }
    }
  
    function check_insta(elm){
      var chk_insta=document.getElementById(`insta${elm}`).checked;
      var textarea = document.getElementById(`insta_txt${elm}`);
      var files = document.getElementById(`insta_file${elm}`);
      if (chk_insta==true){
    
        textarea.style=('display: block');
        files.style=('display: block');
      }else{
      
        textarea.style=('display: none');
        files.style=('display: none');
      }
    }
  
    function check_tumb(elm){
      var chk_tumb=document.getElementById(`tumb${elm}`).checked;
      var textarea = document.getElementById(`tumb_txt${elm}`);
      var files = document.getElementById(`tumb_file${elm}`);
      if (chk_tumb==true){
    
        textarea.style=('display: block');
        files.style=('display: block');
      }else{
      
        textarea.style=('display: none');
        files.style=('display: none');
      }
    }
  
    function check_diry(elm){
      var chk_diry=document.getElementById(`diry${elm}`).checked;
      var textarea = document.getElementById(`diry_txt${elm}`);
      var files = document.getElementById(`diry_file${elm}`);
      if (chk_diry==true){
    
        textarea.style=('display: block');
        files.style=('display: block');
      }else{
      
        textarea.style=('display: none');
        files.style=('display: none');
      }
    }
  
    function check_yt(elm){
      var chk_yt=document.getElementById(`yt${elm}`).checked;
      var textarea = document.getElementById(`yt_txt${elm}`);
      var files = document.getElementById(`yt_file${elm}`);
      if (chk_yt==true){
    
        textarea.style=('display: block');
        files.style=('display: block');
      }else{
      
        textarea.style=('display: none');
        files.style=('display: none');
      }
    }
  
    function check_qra(elm){
      var chk_qra=document.getElementById(`qra${elm}`).checked;
      var textarea = document.getElementById(`qra_txt${elm}`);
      var files = document.getElementById(`qra_file${elm}`);
      if (chk_qra==true){
    
        textarea.style=('display: block');
        files.style=('display: block');
      }else{
      
        textarea.style=('display: none');
        files.style=('display: none');
      }
    }
  
    
  </script>



<script>
    function add_addi(elm){
              
      $(`#sub_info${elm}`).append(
          `
          <div class="col-md-12 ">
          <input type="text" class="drop form-control ml-3 mt-2 text-light" style="border:1px solid #6C7293 ;color:#6C7293;"  name='sub_lb[]' id="sub_lb" >
          
        </div>
        <div class="col-md-12">
            <input type="date" value="{{ dt | date:'Y-m-d'  }}" name='dates[]' id="sub_txt" id="sub_file" class="form-control mt-2 "style="text-decoration:none;background-color: #191c24;color:#6C7293 ;">
          
            <input type="file" name='sub_file[]' id="sub_file" class="form-control mt-2 "
            style="text-decoration:none;background-color: #191c24;color:#6C7293 ;">
        </div>
                                          
          `
      );
      }
  </script>
         

  <script>
    function view_sub(el, id){
        var elem=el
        var ids=id
        
        $.ajax({
            type: "GET",
            url: "{% url 'get_event_det' %}",
            data: {
                ele : elem,
                idss:ids,
                
            },
            success:function(response){
                    console.log(response)
             
                    head = response.hd
                    des = response.des
                    fil = response.fl
             
                    document.getElementById('sub_des2').innerHTML = "Posting Date : "+des;
                    document.getElementById('heads2').innerHTML = head;
                    flr=document.getElementById('files2')
               
                    flr.href = (`/media/${fil}`)
                    
  
            }});
  
        
    }
  </script>
  <script>
    $(document).ready(function () {
      $("#search").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
  
  <script type="text/javascript">
    function setselected(id) {
      $('input[name="selected"]').val(id);
    }
  </script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}