<!-- view_leads.html -->

{%extends 'dm_manager/dm_ base.html'%}
{% load static %}

{% block content %}
<style>
  .red {
    color: red;
  }

  .green {
    color: green;
  }
</style>

<div class="row mt-5">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th scope="col" style="color:#6C7293;">Assign Date</th>
              <th scope="col" style="color:#6C7293;">Follow Up</th>
            </tr>
          </thead>
          <tbody>
            {% for lead in leads_by_date %}
            <tr>
              <td><a href="{% url 'dm_follow_tele_det' tid lead.assign_dt %}" class="text-decoration-none text-white">{{ lead.assign_dt }}</a></td>
              <td>{{ lead.total_leads }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
