{% extends 'dm_manager/dm_ base.html' %}
{% load static %}

{% block content %}
<div class="row mt-5">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th scope="col" style="color:#6C7293;">Name</th>
              <th scope="col" style="color:#6C7293;">Email ID</th>
              <th scope="col" style="color:#6C7293;">Phone Number</th>
              <th scope="col" style="color:#6C7293;">Location</th>
              <th scope="col" style="color:#6C7293;">Qualification</th>
              <th scope="col" style="color:#6C7293;">Year Of Passout</th>
              <th scope="col" style="color:#6C7293;">College Name</th>
              <th scope="col" style="color:#6C7293;">Internship</th>
              <th scope="col" style="color:#6C7293;">Internship Institute</th>
              <th scope="col" style="color:#6C7293;">Internship Topic</th>
              <th scope="col" style="color:#6C7293;">Internship Start</th>
              <th scope="col" style="color:#6C7293;">Internship End</th>
              <th scope="col" style="color:#6C7293;">Fresher/Experienced</th>
              <th scope="col" style="color:#6C7293;">Previous Experienced</th>
              <th scope="col" style="color:#6C7293;">Company Name</th>
              <th scope="col" style="color:#6C7293;">Register For What</th>
              <th scope="col" style="color:#6C7293;">Status</th>
              <th scope="col" style="color:#6C7293;">Follow Up Details</th>
              <th scope="col" style="color:#6C7293;">Assign Status</th>
              <th scope="col" style="color:#6C7293;">Assign Date</th>
              <th scope="col" style="color:#6C7293;">Executive ID</th>
              <th scope="col" style="color:#6C7293;">Duration</th>
              <th scope="col" style="color:#6C7293;">Datamanager ID</th>
              <th scope="col" style="color:#6C7293;">Telecaller ID</th>
            </tr>
          </thead>
            <tbody>
                {% for lead in pending_leads %}
                <tr>
                  <td>{{ lead.name }}</td>
                  <td>{{ lead.email_id }}</td>
                  <td>{{ lead.ph_no }}</td>
                  <td>{{ lead.location }}</td>
                  <td>{{ lead.qualification }}</td>
                  <td>{{ lead.year_of_passout }}</td>
                  <td>{{ lead.collegename }}</td>
                  <td>{{ lead.internship }}</td>
                  <td>{{ lead.internship_institute }}</td>
                  <td>{{ lead.internship_topic }}</td>
                  <td>{{ lead.internship_start }}</td>
                  <td>{{ lead.internship_end }}</td>
                  <td>{{ lead.fresher_experience }}</td>
                  <td>{{ lead.previous_experience }}</td>
                  <td>{{ lead.company_name }}</td>
                  <td>{{ lead.register }}</td>
                  <td>{{ lead.status }}</td>
                  <td>{{ lead.followup_dt }}</td>
                  <td>{{ lead.assign_status }}</td>
                  <td>{{ lead.assign_dt }}</td>
                  <td>{{ lead.executive_id }}</td>
                  <td>{{ lead.duration }}</td>
                  <td>{{ lead.data_manager_id }}</td>
                  <td>{{ lead.telecaller_id }}</td>
                </tr>
                {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
