{%extends 'telecaller/tc_base.html'%}
<!-- DEVprojects -->
{%load static%}
{%block content%}
<style>
  
</style>


<div class="row pt-3">
  <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">
    LEADS
  </div>
</div>

<div class="row mt-4">

    <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
      <div class="card">
        <a href="{% url 'tc_view_leads'%}" class="text-decoration-none text-white ">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  
                      <h4 class="mb-0" style="color:white;">View Leads</h4>
  
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-arrange-send-backward text-primary ms-auto"></i>
              </div>
            </div>
  
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
      <div class="card position-relative">
        <a href="{% url 'tc_view_notifications'%}" class="text-decoration-none text-white ">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color:white;">Notifications</h4>
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-arrange-send-backward text-primary ms-auto"></i>
                <span class="badge bg-danger position-absolute top-0 end-0" style="margin-top: -10px; margin-right: -10px;">{{count}}</span> <!-- Add this line for the badge -->
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

<!-- 
    <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
      <div class="card">
        <a href="{% url 'ex_daily_work_clint'%}" class="text-decoration-none text-white ">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  
                      <h4 class="mb-0" style="color:white;">Daily Work Done</h4>
                      
  
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-arrange-send-backward text-primary ms-auto"></i>
              </div>
            </div>
  
          </div>
        </a>
      </div>
    </div>


    


    <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
      <div class="card">
        <a href="{% url 'ex_weekly_rep_clint'%}" class="text-decoration-none text-white ">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  
                      <h4 class="mb-0" style="color:white;">Weekly Report</h4>
  
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-arrange-send-backward text-primary ms-auto"></i>
              </div>
            </div>
  
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
      <div class="card">
        <a href="{% url 'corrections'%}" class="text-decoration-none text-white ">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  
                      <h4 class="mb-0" style="color:white;">Corrections</h4>
                     
                      {% if cor.date == dt %}
                      
                      <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                      <lord-icon
                        src="https://cdn.lordicon.com/psnhyobz.json"
                        trigger="hover"
                        colors="primary:#c71f16"
                        style="width:60px; height: 60px;">
                      </lord-icon>
                      {%else%}
                     
                      {%endif%}
  
                </div>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-arrange-send-backward text-primary ms-auto"></i>
              </div>
            </div>
  
          </div>
        </a>
      </div>
    </div> -->
</div>



  {% endblock %}