{%extends 'telecaller/tc_base.html'%}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
  * {
    color: #6C7293;
  }
</style>



<style>
  .card {
    margin-top: 1%;
  }

  #qwe {
    font-size: 19px;
    font-weight: 500;
  }

  .card .card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.2rem;
  }


  .table1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
  }

  th,
  td {
    text-align: center;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #191c24;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .card-title {
    font-size: 20px;
    font-weight: 900px;
  }
  #pieChart {
  width: 100px; /* Adjust the width as per your requirement */
  height: 100px; /* Adjust the height as per your requirement */
}
</style>

<div class="row">
  <div class="col-12 grid-margin table1">
    <div class="card p-3">
      <div class="card-body">
        <div class="row">
          <div class="col-6"><h4 class="card-title ">Monthly Performance</h4></div>
         
        </div>
        
        
        
        <div class="table-responsive">
          <table class="table" id="myTable" >
            <thead>
              <tr>
                <th>Assigned Date</th>
                <th>Assigned Count </th>
                <th>Call Count</th>
                <th>Non Call Count </th>
                <th>Performance </th>
                
              </tr>
            </thead>
            <tbody>
              {% for p in performances %}
              <tr>
                 <td>{{ p.assign_date }}</td>
                 <td>{{ p.assign_lead_count }}</td>
                 <td>{{ p.call_lead_count }}</td>
                 <td>{{ p.non_call_lead_count }}</td>
                 <td>{{ p.performance_data }} %</td>
              </tr>
              {% endfor %}
            </tbody> 
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<canvas id="pieChart"></canvas>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var avg_p_data = {{ avg_p_data }}; // Replace this with the actual average performance data

    // Create a data array for the pie chart
    var data = {
      datasets: [{
        data: [avg_p_data, 100 - avg_p_data], // The percentage and remaining (100 - percentage)
        backgroundColor: ['#36a2eb', '#ff6384'] // Colors for the chart segments
      }],
      labels: ['Average Performance', 'Remaining']
    };

    // Create the pie chart
    var pieChart = new Chart(document.getElementById('pieChart'), {
      type: 'pie',
      data: data
    });
  });
</script>
 {% endblock %}